*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

:root{
    --negro: #1b263b;
    --verde: #e0e1dd;
}

button {
    -webkit-tap-highlight-color: transparent;  /* Elimina el color de tap en dispositivos móviles */
    outline: none;  /* Elimina el borde de foco */
    box-shadow: none; /* Elimina el sombreado al enfocar el botón */
    touch-action: manipulation; /* Mejora la experiencia táctil en móviles */
}

button:focus {
    outline: none;  /* Asegúrate de que no tenga borde de foco */
}

html{
    scroll-behavior: smooth;

}

body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--verde);
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url("fonts/Satoshi-Black.woff2"), type("woff2");
    src: url("fonts/Satoshi-Black.woff"), type("woff");
    src: url("fonts/Satoshi-Black.ttf"), type("truetype");
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url("fonts/Satoshi-Regular.woff2"), type("woff2");
    src: url("fonts/Satoshi-Regular.woff"), type("woff");
    src: url("fonts/Satoshi-Regular.ttf"), type("truetype");
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url("fonts/Satoshi-Light.woff2"), type("woff2");
    src: url("fonts/Satoshi-Light.woff"), type("woff");
    src: url("fonts/Satoshi-Light.ttf"), type("truetype");
}

.carga{
    width: 100dvw;
    height: 100dvh;
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-family: 'Satoshi-Regular';
    color: var(--verde);
    z-index: 20;
}

.nombre{
    position: relative;
    width: 50dvw;
    height: 5dvh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.nombre h2{
    animation: esconder_nombre .5s forwards;
    animation-delay: 1s;
}

@keyframes esconder_nombre{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-120%);
    }
    100%{
        transform: translateY(-120%);
        z-index: 1;
    }
}

@keyframes mostrar_main{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100dvh);
    }
}

@keyframes aparecer_lettering{
    from{
        transform: translateY(105%);
    }
    to{
        transform: translateY(0%);
    }
}

.main{
    position: absolute;
    width: 100dvw;
    height: 190dvh;
    animation: mostrar_main .5s forwards;
    animation-delay: 1.2s;
    overflow-x: hidden;
    filter: none;
    transition: .5s;
}

.portada{
    position: relative;
    width: 100%;
    height: 95dvh;
    background-color: var(--verde);
    color: var(--negro);
    overflow-y: hidden;
    overflow-x: hidden;
}

.portada h3{
    position: relative;
    font-size: large;
    margin-top: 5dvh;
    left: .5%;
}

.portada .titulo{
    position: relative;
    width: 95dvw;
    font-family: 'Satoshi-Regular';
    font-size: xx-large;
    top: 10%;
    left: 2.5dvw;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 1%;
    left: 2.5dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95dvw;
    overflow: hidden;
    z-index: 10;
    font-family: 'Satoshi-Regular';
    font-size: medium;
    color: var(--negro) !important;
    transition: .5s;
}

.header a{
    text-decoration: none;
    color: inherit;
}

.categorias{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}

.redes{
    position: absolute;
    width: 90%;
    height: 25%;
    left: 5%;
    top: 75dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.redes a{
    width: 80%;
    height: 25%;
    color: inherit;
}

.redes ion-icon{
    width: 100%;
    height: 100%;
}

#git:hover{
    color: black;
}

#linke:hover{
    color: cadetblue;
}

#insta:hover{
    color: palevioletred;
}

.footer{
    position: relative;
    width: 0dvw;
    opacity: 0;
}

.footer p{
    font-size: small;
}

.info1{

    justify-content: space-between;
    align-items: center;
}
.info2{
    width: 0dvw;
    justify-content: space-between;
    align-items: center;
}

#aparecer{
    transform: translateY(105%);
    animation: aparecer_lettering .5s forwards;
    animation-delay: 1.5s;
}

.deco_portada{
    color: var(--negro);
    display: flex;
    flex-direction: row;
    width: 99%;
    align-items: center;
    justify-content: space-between;
    top: 98%;
    left: .5%;
    position: relative;
}

.deco_proyectos{
    opacity: 0;
}

.interruptor{
    position: relative;
    width: 0;
    height: 0;
}

.juego{
    width: 33.33%;
    height: 100%;
    border-left: 1px solid var(--verde);
    background-color: black;
    color: white;
    position: relative;
    border-right: 1px solid white;
}


.mostrar-juego{
    position: fixed;
    width: 99dvw;
    height: 80dvh;
    background: rgba(49, 49, 49, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 1 );
    top: 19dvh;
    left: .5dvw;
    font-family: 'satoshi-regular';
    color: var(--verde);
    opacity: 0;
    transition: 1s;
    overflow: hidden;
    transform: translateY(-150%);
}

.activo {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%);
}

.boton-mostrar{
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}

.click{
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--negro);
}

.mejoras{
    position: relative;
    width: 100%;
    height: 60%;
    text-align: center;
}

#mejo_1{
    position: relative;
    width: 100%;
    height: 25%;
    z-index: 2;
    overflow: hidden;
}

#mejo_1::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE_rXtXJtztW-bcDaReNksxyESsbKonpLzYQ&s');
    filter: blur(5px); /* Aplica desenfoque */
    transform: scale(1.1); /* Evita bordes duros */
    z-index: -1;
}

#mejo_2{
    position: relative;
    width: 100%;
    height: 25%;
    z-index: 2;
    overflow: hidden;
}

#mejo_2::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://talent500.com/blog/wp-content/uploads/sites/42/2024/05/react-must-be-in-scope-when-using-jsx-scaled-1.jpg');
    filter: blur(5px); /* Aplica desenfoque */
    transform: scale(1.1); /* Evita bordes duros */
    z-index: -1;
}

#mejo_3{
    position: relative;
    width: 100%;
    height: 25%;
    z-index: 2;
    overflow: hidden;
}

#mejo_3::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://spin.atomicobject.com/wp-content/uploads/Figma-Image.jpg');
    filter: blur(5px); /* Aplica desenfoque */
    transform: scale(1.1); /* Evita bordes duros */
    z-index: -1;
}


#mejo_4{
    position: relative;
    width: 100%;
    height: 25%;
    z-index: 2;
    overflow: hidden;
}

#mejo_4::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://stride.com.co/wp-content/uploads/2023/01/gabriel-heinzer-g5jpH62pwes-unsplash-scaled.jpg');
    filter: blur(5px); /* Aplica desenfoque */
    transform: scale(1.1); /* Evita bordes duros */
    z-index: -1;
}


.screen{
    position: relative;
    width: 70%;
    height: 70%;
    text-align: center;
    font-size: 50px;
}

.pulsar{
    transform: scale(1.05);
    transition: .1s;
}

.screen:hover{
    cursor: pointer;
}

.mejora{
    position: relative;
    width: 100%;
    height: 25%;
    border-bottom: 3px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}


.proyectos{
    width: 100dvw;
    height: 80dvh;
    background-color: var(--negro);
    display: flex;
    flex-direction: row;
}

