*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --negro: #1b263b;
    --verde: #e0e1dd;
}

html{
    scroll-behavior: smooth;

}

body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: var(--verde);
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url("fonts/Satoshi-Black.woff2"), type("woff2");
    src: url("fonts/Satoshi-Black.woff"), type("woff");
    src: url("fonts/Satoshi-Black.ttf"), type("truetype");
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url("fonts/Satoshi-Regular.woff2"), type("woff2");
    src: url("fonts/Satoshi-Regular.woff"), type("woff");
    src: url("fonts/Satoshi-Regular.ttf"), type("truetype");
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url("fonts/Satoshi-Light.woff2"), type("woff2");
    src: url("fonts/Satoshi-Light.woff"), type("woff");
    src: url("fonts/Satoshi-Light.ttf"), type("truetype");
}

.carga{
    width: 100dvw;
    height: 100dvh;
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-family: 'Satoshi-Regular';
    color: var(--verde);
    z-index: 20;
}

.nombre{
    position: relative;
    width: 50dvw;
    height: 5dvh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.nombre h2{
    animation: esconder_nombre .5s forwards;
    animation-delay: 1s;
}

@keyframes esconder_nombre{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-120%);
    }
    100%{
        transform: translateY(-120%);
        z-index: 1;
    }
}

@keyframes mostrar_main{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100dvh);
    }
}

@keyframes aparecer_lettering{
    from{
        transform: translateY(105%);
    }
    to{
        transform: translateY(0%);
    }
}

.main{
    position: absolute;
    width: 100dvw;
    height: 190dvh;
    animation: mostrar_main .5s forwards;
    animation-delay: 1.2s;
    overflow-x: hidden;
}

.portada{
    position: relative;
    width: 100%;
    height: 95dvh;
    background-color: var(--verde);
    color: var(--negro);
    overflow-y: hidden;
    overflow-x: hidden;
}

.portada h3{
    position: relative;
    font-size: large;
    margin-top: 5dvh;
    left: .5%;
}

.portada .titulo{
    position: relative;
    width: 95dvw;
    font-family: 'Satoshi-Regular';
    font-size: xx-large;
    top: 10%;
    left: 2.5dvw;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 1%;
    left: 2.5dvw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95dvw;
    overflow: hidden;
    z-index: 10;
    font-family: 'Satoshi-Regular';
    font-size: medium;
    color: var(--negro) !important;
    transition: .5s;
}

.header a{
    text-decoration: none;
    color: inherit;
}

.categorias{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}

.redes{
    position: absolute;
    width: 90%;
    height: 25%;
    left: 5%;
    top: 75dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.redes a{
    width: 80%;
    height: 25%;
    color: inherit;
}

.redes ion-icon{
    width: 100%;
    height: 100%;
}

#git:hover{
    color: black;
}

#linke:hover{
    color: cadetblue;
}

#insta:hover{
    color: palevioletred;
}

.footer{
    position: relative;
    width: 0dvw;
    opacity: 0;
}

.footer p{
    font-size: small;
}

.info1{

    justify-content: space-between;
    align-items: center;
}
.info2{
    width: 0dvw;
    justify-content: space-between;
    align-items: center;
}

#aparecer{
    transform: translateY(105%);
    animation: aparecer_lettering .5s forwards;
    animation-delay: 1.5s;
}

.deco_portada{
    color: var(--negro);
    display: flex;
    flex-direction: row;
    width: 99%;
    align-items: center;
    justify-content: space-between;
    top: 98%;
    left: .5%;
    position: relative;
}

.deco_proyectos{
    opacity: 0;
}

.interruptor{
    position: relative;
    width: 0;
    height: 0;
}

.elemento {
    width: 50%;
    height: 100%;
    position: relative;
    opacity: 0;
    overflow: hidden;
    transition: 1s;
    border: 2px solid var(--negro);
}



.elemento::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: transform 1s ease, filter 1s ease;
}

/* Asignamos las imágenes a ::before para que la transición funcione */
#linea2 #elemento1::before{
    background-image: url('ricardito.png');
}
#linea2 #elemento2::before,
#linea3 #elemento1::before,
#linea3 #elemento2::before,
#linea4 #elemento2::before,
#linea4 #elemento1::before,
#linea5 #elemento1::before,
#linea5 #elemento2::before {
    background-image: url('image.png');
}

#linea2 #elemento3,
#linea2 #elemento4,
#linea3 #elemento3,
#linea3 #elemento4,
#linea4 #elemento3,
#linea4 #elemento4,
#linea5 #elemento3,
#linea5 #elemento4{
    width: 0%;
}

.numero{
    opacity: 0;
}


.linea{
    position: relative;
    width: 99dvw;
    left: .5dvw;
    height: 20%;

}

#linea1{
    background-color: transparent;
    text-align: center;
}

#linea1 h2{
    position: relative;
    top: 10%;
    font-family: 'satoshi-regular';
    font-size: 30px;
    color: var(--verde);
}

#linea2{
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
#linea3{
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
#linea4{
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
#linea5{
    background-color: transparent;
    display: flex;
    flex-direction: row;
}


.proyectos{
    width: 100dvw;
    height: 80dvh;
    background-color: var(--negro);
}

