*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --negro: #1b263b;
    --verde: #e0e1dd;
}

html{
    scroll-behavior: smooth;

}

body{
    background-color: var(--verde);
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url("fonts/Satoshi-Black.woff2"), type("woff2");
    src: url("fonts/Satoshi-Black.woff"), type("woff");
    src: url("fonts/Satoshi-Black.ttf"), type("truetype");
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url("fonts/Satoshi-Regular.woff2"), type("woff2");
    src: url("fonts/Satoshi-Regular.woff"), type("woff");
    src: url("fonts/Satoshi-Regular.ttf"), type("truetype");
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url("fonts/Satoshi-Light.woff2"), type("woff2");
    src: url("fonts/Satoshi-Light.woff"), type("woff");
    src: url("fonts/Satoshi-Light.ttf"), type("truetype");
}

.carga{
    width: 100dvw;
    height: 100dvh;
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: 'Satoshi-Regular';
    color: var(--verde);
    z-index: 20;
}

.nombre{
    position: relative;
    width: 20dvw;
    height: 7dvh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.nombre h2{
    animation: esconder_nombre .5s forwards;
    animation-delay: 1s;
}

@keyframes esconder_nombre{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-120%);
    }
    100%{
        transform: translateY(-120%);
        z-index: 1;
    }
}

@keyframes mostrar_main{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-100dvh);
    }
}

.main{
    position: absolute;
    width: 100dvw;
    height: 145dvh;
    animation: mostrar_main .5s forwards;
    animation-delay: 1.2s;
    overflow: hidden;
    filter: none;
    transition: 1s;
    z-index: 3;
}

.portada{
    position: relative;
    width: 100%;
    height: 95dvh;
    background-color: var(--verde);
    color: var(--negro);
    overflow-y: hidden;
    overflow-x: hidden;
}

.portada h3{
    font-family: 'Satoshi-Regular';
    font-size: xx-large;
    position: relative;
    left: .5%;
}

.portada .titulo{
    position: relative;
    font-family: 'Satoshi-Regular';
    font-weight: bolder;
    font-size: 65px;
    top: 10%;
    left: 1%;
    overflow: hidden;
}

.redes{
    position: absolute;
    width: 5%;
    height: 30%;
    left: 95%;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.redes a{
    width: 80%;
    height: 25%;
    color: inherit;
}

.redes ion-icon{
    width: 100%;
    height: 100%;
}

#git:hover{
    color: black;
}

#linke:hover{
    color: cadetblue;
}

#insta:hover{
    color: palevioletred;
}


.header{
    position: fixed;
    top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    overflow: hidden;
    z-index: 10;
    font-family: 'Satoshi-Black';
    font-size: larger;
    padding-left: 1%;
    color: var(--negro);
    transition: .5s;
}

.header a{
    text-decoration: none;
    color: inherit;
}

.categorias{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 5%;
}

.footer{
    position: absolute;
    width: 100%;
    top: 85dvh;
    display:flex;
    flex-direction: row;
    align-items: center;
    color: var(--negro);
    justify-content: space-between;
    font-family: 'Satoshi-Light';
    font-size: larger;
    padding-left: 1%;
    padding-right: 1%;
    overflow: hidden;
}

.footer h2{
    font-size: xx-large;
}

.info{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.proyectos{
    width: 100%;
    height: 50dvh;
    background-color: var(--negro);
    display: flex;
    flex-direction: row;
    border-right: 1px solid var(--verde);
}

@keyframes aparecer_lettering{
    from{
        transform: translateY(105%);
    }
    to{
        transform: translateY(0%);
    }
}

.juego{
    width: 33.33%;
    height: 100%;
    border-left: 1px solid var(--verde);
    background-color: black;
    color: white;
    position: relative;
}

#clicker:hover{
    transform: translateY(-20%);
    z-index: 100;
}

#aparecer{
    transform: translateY(105%);
    animation: aparecer_lettering .5s forwards;
    animation-delay: 1.5s;
}


#bottom-left{
    position: relative;
    padding: 5px;
}
#bottom-right{
    position: relative;
    left: 97.8%;
}


.deco_portada{
    color: var(--negro);
    display: flex;
    flex-direction: row;
    width: 99%;
    align-items: center;
    top: 97%;
    left: .5%;
    position: relative;
}

.interruptor{
    position: relative;
    width: 0;
    height: 0;
}


.mostrar-juego{
    position: fixed;
    width: 30dvw;
    height: 90dvh;
    background: rgba(49, 49, 49, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 1 );
    top: 5dvh;
    left: 35dvw;
    font-family: 'satoshi-regular';
    color: var(--verde);
    opacity: 0;
    transition: 1s;
}

.activo {
    opacity: 1;
    pointer-events: auto;
    z-index: 5;
}

.boton-mostrar{
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: white;
}

.click{
    position: relative;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--negro);
}

.mejoras{
    position: relative;
    width: 100%;
    height: 60%;
    text-align: center;
}

#mejo_1{
    position: relative;
    width: 100%;
    height: 25%;
    z-index: 2;
    overflow: hidden;
}

#mejo_1::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE_rXtXJtztW-bcDaReNksxyESsbKonpLzYQ&s');
    filter: blur(5px); /* Aplica desenfoque */
    transform: scale(1.1); /* Evita bordes duros */
    z-index: -1;
}

#mejo_2{
    position: relative;
    width: 100%;
    height: 25%;
    z-index: 2;
    overflow: hidden;
}

#mejo_2::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://talent500.com/blog/wp-content/uploads/sites/42/2024/05/react-must-be-in-scope-when-using-jsx-scaled-1.jpg');
    filter: blur(5px); /* Aplica desenfoque */
    transform: scale(1.1); /* Evita bordes duros */
    z-index: -1;
}

#mejo_3{
    position: relative;
    width: 100%;
    height: 25%;
    z-index: 2;
    overflow: hidden;
}

#mejo_3::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('https://spin.atomicobject.com/wp-content/uploads/Figma-Image.jpg');
    filter: blur(5px); /* Aplica desenfoque */
    transform: scale(1.1); /* Evita bordes duros */
    z-index: -1;
}


#mejo_4{
    position: relative;
    width: 100%;
    height: 25%;
    z-index: 2;
    overflow: hidden;
}

#mejo_4::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://stride.com.co/wp-content/uploads/2023/01/gabriel-heinzer-g5jpH62pwes-unsplash-scaled.jpg');
    filter: blur(5px); /* Aplica desenfoque */
    transform: scale(1.1); /* Evita bordes duros */
    z-index: -1;
}


.screen{
    position: relative;
    width: 70%;
    height: 70%;
    text-align: center;
    font-size: 100px;
}

.pulsar{
    transform: scale(1.05);
    transition: .1s;
}

.screen:hover{
    cursor: pointer;
}

.mejora{
    position: relative;
    width: 100%;
    height: 25%;
    border-bottom: 3px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}
